.parent{
    background-color: chocolate;
    width: 600px;
    height:1200px;
    border:25px;
    opacity: 1;
    background-image: ; 
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: right top; */
    /* background-attachment: fixed; */
    background-origin: ;
    background-clip: ;
}


    

   

