parent1{
    background-color: red;
    height: 200px;
    width: 200px;
}
.child1{
    font-weight: bolder;
}
/* .child2{
    font-weight:lighter;
    background-color: aqua;
} */

.child2{
    background-color: aqua;
}

#parent{
    background-color: rgba(77,255,0,214);
    hight:200px;
    weight:200px;
}
#bacha1{
    font-weight: bolder;
}
#bacha2{
    font-weight:lighter;
}
a{
    background-color: black;
}
