.first{
    width: 200px;
    height: 100px;
    background-color: slateblue;
    transition-duration: 4s;
    transition-delay: 3s;
    /* transition-property: background-color; */
    transition-property:width ;
}
.first:hover{
    width: 600px;
    height:200px;
    background-color: crimson;
}